<%= form_with(model: message, local: true) do |form| %>

  <div class="field">
    <%= form.label :body , class:"text-success font-weight-bold"%>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <%= form.text_field :user_id, value: current_user, type: "hidden" %>
  <div>
    <%= form.submit "Add Reply", class: "ui blue labeled submit icon button" %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
