
<p id="notice"><%= notice %></p>
<div>
  <h2 class="text-info"> ✉️ Mailbox </h2>
</div>

<div id="container">
  <div class="row">
    <div class="col-3">
      <ul id="links">
        <% @messageList.each_with_index  do |message,i| %>

          <dt class="text-success">Messages </dt>
          <button type="button" class="list-group-item list-group-item-action p-2"> <%= message[:transmitter]%> </button>

          </ul>
          </div>
          <div class="col">

            <table  class="table table-striped" class="text-success" id = all_messages>
              <thead class="table-success">
              <th >
                N
              </th>
              <th >
                Name
              </th>
              <th >
                Text
              </th>
              </thead>
              <tbody>
              <tr>

                <td ><%= i+1%></td>
                <td > <%= message[:transmitter]%> </td>
                <td><%= message[:text]%></td>

              </tr>
              </tbody>
        <%end %>
        </table>

        </div>
        </div>
</div>

<br>
<%= link_to 'New Message', new_message_path, class: ["btn", "btn-info"] %>

