<div class="row ml-0">
  <%= form_with model: [@user, @profile], local: true do |form| %>
    <%= errors_for @profile %>
    <div class="form-group">
      <%= form.label :name, class:"text-success font-weight-bold"%>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :last_name, class:"text-success font-weight-bold"%>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :short_bio, class:"text-success font-weight-bold" %>
      <%= form.text_area :short_bio, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :image, class:"text-success font-weight-bold" %>
      <%= form.file_field :image %>
    </div>
    
 

    <%= form.fields_for :location do |location_form| %>
      <div class="form-group">
        <%= location_form.label :region,class:"text-success font-weight-bold" %>
        <%= location_form.text_field :region, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= location_form.label :country, class:"text-success font-weight-bold" %>
        <%= location_form.text_field :country, class: "form-control" %>
      </div>

     
      <%end %>
    
    
    <div class="form-group mt-2">
      <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>