<p id="notice"><%= notice %></p>

<h1>Profile</h1>
<div id="container">
  <% @profiles.each_with_index do |profile, i| %>
  <aside id="profile_links">
    <img src= <%= profile.image %> style="width:150px;height:110px;">
    <ul id="links">
      <li><%= link_to "Event",  events_path%></li>

      <li>Tea</li>
      <li>Milk</li>
    </ul>

  </aside>


  <dl id="profile_info">
    <dt>Name</dt>
    <dd>- <%= profile.name %> <%= profile.last_name %></dd>
    <dt>Location</dt>
    <dd>- Country: <%= profile.location.country %>, Region: <%= profile.location.region %> </dd>
    <dt>Bio</dt>
    <dd>- <%= profile.short_bio %> </dd>
  </dl>


    <% end %>

</div>
<br>

<%= link_to 'New Profile', new_profile_path %>
