<p id="notice"><%= notice %></p>

<h1>Guests</h1>

<table class="table table-striped table-dark">
  <thead>
  <th>
    N
  </th>
  <th>
    Event Title
  </th>
  <th>
    Description
  </th>
  </thead>

  <tbody>
  <% @event_guests1.each_with_index do |event_guest, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= link_to event_guest.title, event_guest%></td>
      <td><%=event_guest.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_guest_path %>