<%= form_with model: [@event, @user, @comment], local: true do |form| %>
  <%= errors_for comment %>
  <div class="form-group">
    <%= form.label :rich_text, class:"text-success font-weight-bold" %>
    <%= form.text_area :rich_text, class: "form-control" %>
     </div>

  <div class="form-group">
    <%= form.label :user_id, class:"text-success font-weight-bold"%>
    <%= form.collection_select(:user_id, User.all.order(username: :asc), :id, :username, {}, { class: "form-control" }) %>

  </div>

  <div>
    <% if action_name == 'edit' %>
      <%= form.label "Delete"%>
      <%= form.check_box :_destroy %>
    <% end %>
  </div>



  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>
