<%= form_with model: [@event, @user, @comment], local: true do |form| %>

  <div class="form-group">
    <%= form.label :rich_text, class:"text-success font-weight-bold" %>
    <%= form.text_area :rich_text, class: "form-control" %>
     </div>

    <div class="form-group">
      <%= form.label :user_id, class:"text-success font-weight-bold"%>
      <%= form.text_field :user_id, class: "form-control" %>
    </div>


  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>

