<p id="notice"><%= notice %></p>

<h1>Message Sents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_sents.each do |message_sent| %>
      <tr>
        <td><%= link_to 'Show', message_sent %></td>
        <td><%= link_to 'Edit', edit_message_sent_path(message_sent) %></td>
        <td><%= link_to 'Destroy', message_sent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message Sent', new_message_sent_path %>
