<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class = "h-25 d-inline-block bg-info" size="wide: 400px;">
      <%= image_tag(user.image.thumb.url, class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>
    </div>
    <div class="card-body">
      <p class="card-text text-success "><%= user.username%></p>
      <p class="card-text  text-success"><%= user.name %> <%= user.last_name %></p>
      <p class="card-text text-success"><%= user.location%> </p>
      <p class="card-text  text-success"><%= user.short_bio %> </p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%if admin_signed_in?  %>
            <button type="button" class="btn btn-sm btn-outline-secondary">User role</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Last access</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= button_to "Admin Account",  edit_user_registration_path, class: "btn btn-sm btn-outline-white text-secondary"%>
            </button>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>