<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class = "h-25 d-inline-block bg-info" size="wide: 400px;">
      <%= image_tag(user.image.thumb.url, class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>
    </div>
    <div class="card-body">
      <p class="card-text text-success ">Username: <%= user.username%></p>
      <p class="card-text  text-success">Name: <%= user.name %> <%= user.last_name %></p>
      <p class="card-text text-success">Location: <%= user.location%> </p>
      <p class="card-text  text-success">Bio: <%= user.short_bio %> </p>
      <%if admin_signed_in?  %>
        <p class="card-text  text-success"> Last access:
          <% if user.last_sign_in_at %>
            <%= user.last_sign_in_at %>
          <% else %>
             Not logged in
          <% end %>
        </p>
        <p class="card-text  text-success"> Role:
          <% var = false %>
          <% user.members.each do |mem| %>
            <% if mem.is_admin_org %>
              <% var = true %>
            <% end %>
          <% end %>
          <% if var %>
            Organization Admin
          <% else %>
            Regular User
          <% end %>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to " Edit ", edit_user_path(user), class: "btn btn-sm btn-outline-white text-secondary"%>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <%= link_to "Delete Account", user, method: :delete, confirm: 'Are You Sure?', class: "btn btn-sm btn-outline-white text-danger" %>
            </button>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>