<div class="row ml-0">
  <%= form_with(model: event, local: true) do |form| %>
    <%= errors_for event %>
    <div class="form-group  ">
      <%= form.label :title , class:"text-success font-weight-bold"%>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description , class:"text-success font-weight-bold"%>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :private, class:"text-success font-weight-bold" %>
      <%= form.check_box  :private, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :location,class:"text-success font-weight-bold" %>
      <%= form.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :organization_id, class:"text-success font-weight-bold"%>
      <%= form.collection_select(:organization_id, current, :id, :name, {}, { class: "form-control" }) %>

    </div>

    <div class="form-group">
      <%= form.label :image_banner,class:"text-success font-weight-bold" %>
      <%= form.file_field :image %>
    </div>
    <div class="form-group">
      <%= form.label :documents,class:"text-success font-weight-bold" %>
      <%= form.file_field :documents, multiple: true %>
    </div>
    <div class="form-group">
      <%= form.label :videos,class:"text-success font-weight-bold" %>
      <%= form.file_field :videos, multiple: true %>
    </div>
    <div class="form-group">
      <%= form.label :images ,class:"text-success font-weight-bold"%>
      <%= form.file_field :pictures, multiple: true %>
    </div>
    <div class="card">
    <div class="card-body">
      <h5 class="card-title text-info"><%=  dates_to_vote_section_title %></h5>
      <p class="text-success"><%= dates_to_vote_instruction_text %></p>
      <%=form.fields_for :dates_to_votes do |dates_to_votes_form| %>
        <div class="form-group">
          <%= dates_to_votes_form.label :date ,class:"text-success font-weight-bold"%>
          <%=dates_to_votes_form.datetime_local_field :date, class: "form-control" %>

          <% if action_name == 'edit' %>
            <%= dates_to_votes_form.label "Delete",class:"text-success font-weight-bold"%>
            <%= dates_to_votes_form.check_box :_destroy %>
          <% end %>
          <hr>
        </div>
      <% end %>
    </div>
  </div>


    <div class="form-group mt-2">
      <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>


<% end %>
</div>
