<div class="row ml-0">
  <%= form_with(model: event, local: true) do |form| %>
    <!--errors_for event -->
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group mt-2">
      <%= form.submit submit_btn_text, class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
<% end %>
</div>
