<p id="notice"><%= notice %></p>

<h1>Message Receiveds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_receiveds.each do |message_received| %>
      <tr>
        <td><%= link_to 'Show', message_received %></td>
        <td><%= link_to 'Edit', edit_message_received_path(message_received) %></td>
        <td><%= link_to 'Destroy', message_received, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message Received', new_message_received_path %>
