<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class = "h-25 d-inline-block bg-info" size="wide: 400px;">
      <%= link_to image_tag(organization.image.thumb.url, class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef"), url_for(organization) %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= link_to organization.name, organization %></p>
      <p class="card-text"><%= organization.created_at %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", organization %></button>
          <% if user_signed_in? %>
            <% if Member.where(user_id: current_user).where(organization_id: organization).first.is_admin_org %>
              <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_organization_path(organization) %></button>
            <% end %>
          <% end %>
          <% if admin_signed_in? %>
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_organization_path(organization) %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>