<p id="notice"><%= notice %></p>

<h2 class="text-info"> 🌌 Organizations </h2>


<table  class="table table-striped" id="organizations">
  <thead class="table-success">
  <th>
    N
  </th>
  <th>
    Name
  </th>
  <th>
    Description
  </th>
  <tbody>
  <%  @organizations.each_with_index do |organization, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= link_to organization.name, organization%></td>
      <td><%=organization.description %></td>
    </tr>
    <%end %>
  </tbody>
  </thead>
</table>
<br>

<%= link_to 'New Organization', new_organization_path %>
