<p id="notice"><%= notice %></p>

<h1>Organizations</h1>
<div>
  <% @organizations.each do |organization| %>
    <aside id="organization_info">
      <h6>Aside vacio</h6>
    </aside>
    <img src= <%= organization.image %> >
    <dl id="info_org">
      <dt>Name</dt>
      <dd>- <%= organization.name %> </dd>
      <dt>Rich Text</dt>
      <dd>-  <%= organization.rich_text%></dd>
      <dt>Description</dt>
      <dd>- <%= organization.description %> </dd>
    </dl>

  <% end %>


</div>
<br>

<%= link_to 'New Organization', new_organization_path %>
