<p id="notice"><%= notice %></p>
<h2 class="text-info"> 💫 <%= @organization.name %> </h2>
<div id="container">
  <div class="row">
    <div class="col-3">
      <aside id="organization_links">
        <ul id="links">
          <button type="button" class="list-group-item list-group-item-action p-2">Image the organization </button>
          <button type="button" class="list-group-item list-group-item-action p-2">Calendar </button>
          <button type="button" class="list-group-item list-group-item-action p-2">Members</button>
          <button type="button" class="list-group-item list-group-item-action p-2">Videos</button>
          <button type="button" class="list-group-item list-group-item-action p-2">Documents</button>

        </ul>
      </aside>
    </div>
    <div class="col">
      <dl id="organization_info">
        <dt>Description </dt>
        <dd>• <%= @organization.description %> <%= @organization.rich_text%></dd>
      </dl>
      <table class="table table-striped" id="event_in_organization">
        <thead class="table-success">
        <th> N </th>
        <th>Events</th>
        <th>Description</th>
        </thead>
        <tbody>
          <tr>
            <% @events1.each_with_index do |events,i| %>
              <td><%= i+1 %></td>
              <td><%= link_to events.title, events %> </td>
              <td><%= events.description %> </td>

          </tr>
            <% end %>

          </tbody>
          </table>

    </div>
  </div>
  <br>

  <%= link_to 'New Organization', new_organization_path %>
  <%= link_to 'Edit', edit_organization_path(@organization) %> |
  <%= link_to 'Back', organizations_path %>
</div>

