<h2 class="text-info"> 💫 <%= @organization.name %> </h2>
<div id="container">
  <div class="row">
    <div class="col-3">
      <div class="row mb-3 mt-3 ">
        <div class="text-center figure-img img-fluid rounded">
          <%= image_tag(@organization.image.thumb.url, class: "figure-img img-fluid rounded") %>
        </div>
      </div>
      <aside id="organization_links">
        <ul class="table-success" id="links">
          <button type="button" class="list-group-item list-group-item-action p-2">Calendar </button>

          <select class="custom-select">
            <option selected>Members</option>
            <% @members.each do |mem| %>
              <option value="i"><%=  mem.username %></option>
            <% end %>
          </select>

        </ul>
      </aside>
    </div>
    <div class="col ml-5">
      <dl id="organization_info">
        <dt class="text-success">Description </dt>
        <dd>• <%= @organization.description %> <%= @organization.rich_text%></dd>
      </dl>
      <div class="row">
        <% @events1.each do |event| %>
          <%= render partial: 'events/event_tile', locals: { event: event } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row ml-0 mt-2 mb-3">

    <table class="table table-striped" >
      <thead class="table-success">
      <th>
        Images:
      </th>
      </thead>
      <tbody>
      <tr>
        <td>
          <% (0...@organization.pictures.count).each do |image| %>
            <%= image_tag(@organization.thumbnail(image)) %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped" >
      <thead class="table-success">
      <th>
        Documents:
      </th>
      </thead>
      <tbody>
      <tr>
        <td>
          <% (0...@organization.documents.count).each do |num| %>
            <%= link_to 'Document', @organization.documents[num] %>
            <div></div>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped" >
      <thead class="table-success">
      <th>
        Videos:
      </th>
      </thead>
      <tbody>
      <tr>
        <td>
          <% (0...@organization.videos.count).each do |num| %>
            <%= link_to 'Video', @organization.videos[num] %>
            <div></div>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
</div>

