<p id="notice"><%= notice %></p>

<h1>Wall Of Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wall_of_comments.each do |wall_of_comment| %>
      <tr>
        <td><%= link_to 'Show', wall_of_comment %></td>
        <td><%= link_to 'Edit', edit_wall_of_comment_path(wall_of_comment) %></td>
        <td><%= link_to 'Destroy', wall_of_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wall Of Comment', new_wall_of_comment_path %>
