<p id="notice"><%= notice %></p>

<h1>Votes</h1>

<div id="container">
  <aside id="votes_links">
    <dl id="votes_info">
      <dt>Event  id</dt>
      <% @votes.each do |vote| %>
        <dd> â„  n <%= vote.dates_to_vote.event_id%> </dd>
      <% end %>
    </dl>
  </aside>
  <table id="all_dates">
    <thead>
    <th>
      N
    </th>
    <th>
      Created at
    </th>
    <th>
      Date
    </th>
    </thead>
    <tbody>
    <% @votes.each_with_index do |vote,i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= vote.created_at%></td>
      <td><%=vote.dates_to_vote.date %> </td>
    </tr>
    </tbody>
  </table>

<%end %>
</div>

<br>


<%= link_to 'Destroy', @vote, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @vote %>

