<!DOCTYPE html>
<html>

  <head>
    <title>CourseProjectNaespinolaKjara1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class= " bg-light text-dark" >
  <header>
    <nav  class="navbar navbar-expand-lg navbar-light bg-dark">>
      <a class="navbar-brand" href="#"> </a>
      <img src="https://img.freepik.com/vector-gratis/sombrero-fiesta-letrero-neon_1262-15922.jpg?size=338&ext=jpg" width="30" height="30" class="d-inline-block align-top" alt="  ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= root_path %>" >Vote Event Date ~VED~ </a>
          </li>
          <% if user_signed_in?%>
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= user_path(current_user) %>" >Profile </a>
          </li>
          <li class="nav-item mailbox">
            <a class="nav-link text-white" href="<%= mailbox_path(current_user.id) %>">Mailbox </a>
          </li>


            <%elsif admin_signed_in? %>
            <li class="nav-item mailbox">
              <a class="nav-link text-white" href="<%= new_user_registration_path %>">New user </a>
            </li>

          <%end %>


        </ul>
        <%= form_tag(search_page_path, :method => "get",
                     class: 'navbar-form navbar-left') do %>
          <div class="input-group my-2 my-sm-0">
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            <div class="input-group-btn my-2 my-sm-0">
              <%= button_tag "Search", :class => 'btn btn-outline-success   glyphicon glyphicon-search my-2 my-sm-0 mr-sm-2',:name => nil%>
            </div>
            <br/>

            <% if admin_signed_in? %>
              <%= link_to "Sign Out", destroy_admin_session_path, method: :delete , class: ["btn btn-outline-info"]%>

            <% elsif user_signed_in? %>
              <%=link_to "Sign Out", destroy_user_session_path, method: :delete,  class: ["btn btn-outline-info"]%>
            <%else %>
              <%= link_to "Sign In", user_session_path, class: ["btn btn-outline-info"]%>
              || <%= link_to "Sign Up", new_user_registration_path, class: ["btn btn-outline-info"]%>

            <%end %>
          </div>

        <% end %>

      </div>
    </nav >
  </header>
  <div id="container"   class= " p-3 bg-light text-dark mb-5">
    <main class=  "col-sm-12 p-3"  id="main_content">
      <% if notice.present? %>
        <div class="row ml-0 mt-3" role="alert">
          <div id="notice" class="alert alert-success"><%= notice %></div>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="row ml-0 mt-3" role="alert">
          <div id="alert" class="alert alert-danger"><%= alert %></div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <footer class="fixed-bottom bg-dark border-top p-3">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-white"> Contact Information</h5>
          <p class="text-muted">Contact us at: help@voteeventdate.com </p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">


        <div class="col-md-3 mb-md-0 mb-3">

          <h6 class="text-white">Terms of Use</h6>
          <ul class="list-unstyled">
            <li>
              <a href="<%= aup_url %>">TOS </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h6 class="text-white">Terms of Service</h6>

          <ul class="list-unstyled">
            <li>
              <a href="<%= tos_path %>">ToS </a>

            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>