<!DOCTYPE html>
<html>

  <head>
    <title>CourseProjectNaespinolaKjara1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class= " bg-light text-dark" >
  <header>
    <nav  class="navbar navbar-expand-lg navbar-light bg-dark">>
      <a class="navbar-brand" href="#"> </a>
      <img src="https://img.freepik.com/vector-gratis/sombrero-fiesta-letrero-neon_1262-15922.jpg?size=338&ext=jpg" width="30" height="30" class="d-inline-block align-top" alt="  ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= root_path %>" >Vote Event Date ~VED~ </a>
          </li>
          <% if user_signed_in?%>
          <li class="nav-item">
            <a class="nav-link text-white" href="<%= user_path%>" >Profile </a>
          </li>
          <li class="nav-item mailbox">
            <a class="nav-link text-white" href="<%= user_messages_path%>">Mailbox </a>
          </li>
          <%end %>
        </ul>
        <%= form_tag(search_page_path, :method => "get",
                     class: 'navbar-form navbar-left') do %>
          <div class="input-group my-2 my-sm-0">
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            <div class="input-group-btn my-2 my-sm-0">
              <%= button_tag "Search", :class => 'btn btn-outline-success   glyphicon glyphicon-search',:name => nil%>
            </div>
            <br>

            <% if admin_signed_in? %>
              <%= link_to "Sign Out", destroy_admin_session_path, method: :delete , class: ["btn btn-outline-info"]%>

            <% elsif user_signed_in? %>
              <%= link_to "Sign In", user_session_path%> ||<%=link_to "Sign Out", destroy_user_session_path, method: :delete%>
            <%else %>
              <%= link_to "Sign In", user_session_path, class: ["btn btn-outline-info"]%>
              || <%= link_to "Sign Up", new_user_registration_path, class: ["btn btn-outline-info"]%>

            <%end %>
          </div>

        <% end %>

      </div>
    </nav >
  </header>
  <div id="container"   class= " p-3 bg-light text-dark mb-5">
    <main class=  "col-sm-12 p-3"  id="main_content">
      <% if notice.present? %>
        <div class="row ml-0 mt-3" role="alert">
          <div id="notice" class="alert alert-success"><%= notice %></div>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="row ml-0 mt-3" role="alert">
          <div id="alert" class="alert alert-danger"><%= alert %></div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>
  <footer class=" fixed-bottom bg-dark border-top p-1 ">
    <div class="container">
      <h4 class="text-white">
        Contact Information
      </h4>
      <p class="text-muted">Contact us at: help@voteeventdate.com</p>
    </div>
  </footer>

  </body>
</html>