<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectNaespinolaKjara1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1><%= link_to "Vote Event Date ~VED~", root_path %></h1>
  </header>
  <nav>
    <ul id="navbar">
      <li><%= link_to "Profile", user_profiles_path%></li>
      <li><%= link_to "Organization", organizations_path%></li>
      <li><%= link_to "Mailbox",  user_mailboxes_path%></li>


    </ul>
  </nav>
  <div id="container">
    <main id="main_content">
      <%= yield %>
    </main>
  </div>
  <footer>
    <h4>
      Contact Information
    </h4>
    <p>Contact us at: help@voteeventdate.com</p>
  </footer>
  </body>
</html>