<!DOCTYPE html>
<html>

  <head>
    <title>CourseProjectNaespinolaKjara1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class= " bg-light text-dark" >
  <header>
    <div class="p-3  bg-dark text-white">   <h4><%= link_to "Vote Event Date ~VED~", root_path %></h4></div>
  </header>

  <nav  class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"> </a>
    <img src="https://img.freepik.com/vector-gratis/sombrero-fiesta-letrero-neon_1262-15922.jpg?size=338&ext=jpg" width="30" height="30" class="d-inline-block align-top" alt="  ">
    Welcome
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= user_profiles_path%>" >Profile </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="<%= root_path%>">Home </a>
        </li>
        <li class="nav-item mailbox">
          <a class="nav-link" href="<%= user_messages_path%>">Mailbox </a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </nav >
  <div id="container"   class= " p-3 bg-light text-dark">
    <main id="main_content"  class= " p-3 bg-light text-dark">
      <%= yield %>
    </main>
  </div>
  <div class="footer fixed-bottom border-top">
    <footer class="bg-dark p-4">
      <h4 class="text-white">
        Contact Information
      </h4>
      <p class="text-muted">Contact us at: help@voteeventdate.com</p>
    </footer>
  </div>
  </body>
</html>