<%= form_with model: [@organization, @member], local: true do |form| %>
  <%= errors_for @member %>
  <div class="form-group">
    <%= form.label :user_id , class:"text-success font-weight-bold"%><br>
    <%= form.collection_select(:user_id, @not_member, :id, :username, {}, { class: 'select' }) %>

  </div>
  <div class="form-group">
    <%= form.submit class: ["btn", "btn-primary"] %>
    <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
  </div>
<% end %>